/*
Author : Drumsticks1
GitHub : https://github.com/Drumsticks1/TS3_EnhancedClientList

Feel free to modify this file according to your wishes.
*/

button {
    border: 1px solid rgba(0, 0, 0, .1)
}
.row {
    max-width: 100%!important
}
input[type='checkbox'] {
    display: none
}
label {
    display: block;
    padding: 0.6rem;
    cursor: pointer;
    background-color: #9f9f9f;
    border: 1px solid #898989;
    transition: background-color 300ms ease-out
}
label:hover {
    background-color: #898989
}
:checked + label {
    background-color: #5da423;
    border: 1px solid #549420
}
:checked + label:hover {
    background-color: #549420
}
label, #TS3-ECL, #navbar button, .tablesorter button:active, .tablesorter button:hover, .tablesorter button:focus {
    color: #fff
}
#navbar, #creationTimestampTable > tbody > tr > td, .tablesorter > tbody > tr > td, .tablesorter button {
    background-color: #fff
}
#tableSelectionSection > div {
    padding: 0
}
#TS3-ECL {
    text-align: center;
    background-color: #2ba6cb
}
#TS3-ECL, #creationTimestampTable > thead > tr > th, #ts3-control, .tablesorter, button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400
}
#controlSection {
    margin-top: 20px;
    padding: 0
}
#creationTimestampTable {
    margin: .75rem 0
}
#tableSelectionSection {
    margin-bottom: 15px;
    text-align: center
}
#creationTimestampSection, #rebuildSection {
    margin-bottom: 20px
}
#TS3-ECL, #buildNewXMLButton, #collapseAllButton, #connectionsSortTypeButton, #navbar button, #rebuildXMLButton, #switchBetweenIDandUIDButton, .row .row {
    margin: 0
}
#tableSelectionSection, #buildNewXMLButton, #creationTimestampTable, #rebuildXMLButton, #switchBetweenIDandUIDButton, .tablesorter {
    width: 100%
}
#navbar {
    display: flex;
    position: fixed;
    box-shadow: 0 -8px 10px -11px rgba(0, 0, 0, .75);
    font-size: 12pt;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100
}
#navbar button {
    flex-grow: 1;
    font-size: .8rem;
    padding: .75em .5em
}
#ts3-uploadTable {
    margin-bottom: 44px
}
td, th {
    border: 1px solid #cdcdcd
}
#creationTimestampTable > tbody > tr > td, .tablesorter > tbody > tr > td {
    padding: 4px;
    vertical-align: top
}
.tablesorter > thead > tr > th {
    font-size: 14pt;
    font-weight: 400;
    padding: 5px 15px 5px 5px
}
.tablesorter-header {
    background: url(../img/bg.png) center right no-repeat #E6E6E6
}
.tablesorter-headerAsc {
    background-image: url(../img/asc.png)
}
.tablesorter-headerDesc {
    background-image: url(../img/desc.png)
}
.tablesorter button {
    color: #008CBA;
    position: static;
    margin: 0 25% 5px 25%;
    width: 50%;
    padding: 5px 0;
    font-size: .8rem
}
.tablesorter button:active, .tablesorter button:hover, .tablesorter button:focus {
    background-color: #007095;
}
@media (max-width: 1024px) {
    .tablesorter-sticky-visible {
        display: none
    }
    .ui-table-reflow > tbody > tr > td, .ui-table-reflow thead > tr > th {
        border-color: rgba(222, 222, 222, .25);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        width: 100%!important
    }
    .ui-table-reflow > tbody > tr {
        border: 1px solid #CDCDCD
    }
    .ui-table-reflow tbody > tr > td > div {
        clear: right;
        float: right;
        max-width: calc(50vw - 5px);
        width: 50%;
        overflow: auto
    }
    .ui-table-reflow > tbody > tr > td[data-title]:before {
        color: #469;
        font-size: .9em;
        content: attr(data-title);
        float: left;
        max-width: calc(50vw - 5px);
        width: 50%;
        display: inline-block
    }
}
