# gitignore put together by Drumsticks1.
# Last modified: 25.01.2016

# Log files
*.log

# WebStorm directory-based project format:
.idea/

# node_modules folder:
node_modules

#########################
# TS3-LDV related files #
#########################

output.xml
logignore
lockfile

# External dependencies
foundation*.css
foundation*.js
jquery*.js
moment*.js
nanobar*.js
