# .gitignore
# Author: Drumsticks
# GitHub: https://github.com/Drumsticks1/TS3-LogDataViewer

# WebStorm directory-based project format
.idea/

# npm generated
node_modules
package-lock.json

# local files (conf.json, output.json, ts3-ldv.log, ...)
local/*

# keep .gitkeep files
!.gitkeep
