/*
Author : Drumsticks1
GitHub : https://github.com/Drumsticks1/TS3_EnhancedClientList

Feel free to modify this file according to your wishes.
*/

body {
    margin: 0;
    padding-bottom: 51px;
}
#TS3-ECL {
    font-family: 'Open Sans', Arial sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: #8093FF;
    margin-top: 0;
    min-width: 600px;
    height: 70px;
    line-height: 70px;
}
#ts3-control, #ts3-clientTable, #ts3-banTable, #ts3-kickTable, #ts3-uploadTable {
    margin: 25px 5px 0;
}
#ts3-control, #navbar, .tablesorter {
    font-family: 'Open Sans', Arial, sans-serif;
}
#ts3-control button, #navbar button {
    font-family: 'Open Sans', Arial, sans-serif;
    flex-grow: 2;
    border: 1px solid #8093FF;
    text-align: center;
    padding: 8px 10px;
    background: white;
    color: #8093FF;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 20px;
}
#ts3-control button:active, #navbar button:active, #ts3-control button:hover, #navbar button:hover, #ts3-control button:focus, #navbar button:focus {
    color: white;
    background-color: #8093FF;
    outline: none;
    transition: background-color, color 200ms;
}
#ts3-control button:disabled {
    color: #999;
}
#controlSection {
    border: 2px solid #E6E6E6;
    overflow: auto;
    border-radius: 10px;
    padding: 5px 10px;
}
#creationTimestampSection, #rebuildSection, #clientTableControlSection, #connectedClientsCountSection {
    float: left;
    padding: 5px;
}
#rebuildXMLButton {
    float: left;
    width: 100%;
}
#buildNewXMLButton {
    float: right;
    margin: 5px 0;
}
#creationTimestampSection {
    min-width: 510px;
}
#creationTimestampTable {
    border-spacing: 5px;
    max-width: 493px;
    margin: 10px 0;
}
#creationTimestampTable thead tr th, #creationTimestampTable tbody tr td {
    font-weight: normal;
    border: 1px solid #8093FF;
    padding: 5px;
}
#creationTimestampTable thead tr th {
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
#creationTimestampTable tbody tr td {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
#clientTableControlSection {
    min-width: 400px;
}
#connectedClientsCountSection, #collapseAllSection, #buildNewXMLButton {
    clear: left;
}
#connectedClientsCount {
    display: inline;
}
#IDSelection {
    font-family: 'Open Sans', Arial, sans-serif;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 8px 10px;
}
#scrollToClientTableRowSection, #collapseAllSection {
    padding-bottom: 5px;
    float: left;
}
.sortConnectionsSwitch {
    float: left;
    margin-left: 5px;
}
#scrollToClientTableRowSection button {
    margin-left: 5px;
    padding: 8px 10px;
}
#navbar {
    display: flex;
    position: fixed;
    background-color: white;
    font-size: 12pt;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px 10px;
    box-shadow: 0 -8px 10px -11px rgba(0, 0, 0, 0.75);
}
#navbar button {
    margin: 0 4px;
}
#clientTable td:nth-child(3) {
    text-align: center;
}
table.tablesorter {
    background-color: #CDCDCD;
    font-size: 12pt;
    width: 100%;
    text-align: left;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.tablesorter-sticky-visible {
    background-color: white;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border: 1px solid #E6E6E6;
    font-size: 14pt;
    font-weight: 300;
    padding: 5px;
}
table.tablesorter thead tr th:first-child {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
table.tablesorter thead tr th:last-child {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: white;
    vertical-align: top;
}
.tablesorter-header {
    background: #E6E6E6 url(bg.png) no-repeat center right;
}
.tablesorter-header.tablesorter-headerAsc {
    background: #E6E6E6 url(asc.png) no-repeat center right;
}
.tablesorter-header.tablesorter-headerDesc {
    background: #E6E6E6 url(desc.png) no-repeat center right;
}
table.tablesorter button {
    font-family: 'Open Sans', Arial, sans-serif;
    border: 1px solid #8093FF;
    text-align: center;
    padding: 3px 10px;
    background: #FFF;
    color: #8093FF;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 20px;
}
table.tablesorter button:active, table.tablesorter button:hover, table.tablesorter button:focus {
    color: white;
    background-color: #8093FF;
    outline: none;
    transition: background-color, color 200ms;
}
.sortConnectionsSwitch {
    position: relative;
    width: 175px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.sortConnectionsSwitch-checkbox {
    display: none;
    margin: 0;
}
.sortConnectionsSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #8093FF;
    border-radius: 20px;
}
.sortConnectionsSwitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.sortConnectionsSwitch-inner:before, .sortConnectionsSwitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    padding: 0;
    line-height: 34px;
    font-size: 0.8rem;
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
.sortConnectionsSwitch-inner:before {
    content: "Sort by last connect";
    padding-left: 10px;
    background-color: white;
    color: #8093FF;
}
.sortConnectionsSwitch-inner:after {
    content: "Sort by first connect";
    padding-right: 10px;
    color: #8093FF;
    text-align: right;
}
.sortConnectionsSwitch-switch {
    display: block;
    width: 16px;
    margin: 6px;
    background: #8093FF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 141px;
    border: 2px solid #8093FF;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.sortConnectionsSwitch-checkbox:checked + .sortConnectionsSwitch-label .sortConnectionsSwitch-inner {
    margin-left: 0;
}
.sortConnectionsSwitch-checkbox:checked + .sortConnectionsSwitch-label .sortConnectionsSwitch-switch {
    right: 0;
}
