/*
Author : Drumsticks1
GitHub : https://github.com/Drumsticks1/TS3_EnhancedClientList

Feel free to modify this file according to your wishes.
*/

button {
    border: 1px solid rgba(0, 0, 0, 0.10);
}
button:disabled {
    color: black;
}
table {
    border: none;
    background-color: #CDCDCD;
    font-size: 12pt;
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 1px;
}
table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: white;
    vertical-align: top;
}
.row {
    max-width: 100%
}
#TS3-ECL {
    margin: 0;
    text-align: center;
    background-color: #2ba6cb;
    color: white;
}
#TS3-ECL, #ts3-control, .tablesorter, button {
    font-family: 'Open Sans', Arial, sans-serif;
}
#controlSection {
    margin-top: 20px;
    padding: 0;
}
#creationTimestampTable {
    margin: 0.75rem 0;
}
#TS3-ECL, #creationTimestampTable thead tr th {
    font-weight: normal;
}
#rebuildSection, #creationTimestampSection {
    margin-bottom: 20px;
}
#rebuildXMLButton, #buildNewXMLButton, #switchBetweenIDandUIDButton {
    width: 100%;
    margin: 0;
}
#collapseAllButton, #connectionsSortTypeButton {
    margin: 0;
}
#navbar {
    display: flex;
    position: fixed;
    background-color: white;
    font-size: 12pt;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -8px 10px -11px rgba(0, 0, 0, 0.75);
}
#navbar button {
    flex-grow: 1;
    color: white;
    font-size: 0.8rem;
    padding: 0.75rem;
    margin: 0;
}
#clientTable td:nth-child(3) {
    text-align: center;
}
#ts3-uploadTable{
  margin-bottom: 44px;
}
.tablesorter thead tr th, .tablesorter tfoot tr th {
    border: 1px solid #E6E6E6;
    font-size: 14pt;
    font-weight: normal;
    padding: 5px;
}
.tablesorter-header {
    background: #E6E6E6 url(bg.png) no-repeat center right;
}
.tablesorter-headerAsc {
    background-image: url(asc.png);
}
.tablesorter-headerDesc {
    background-image: url(desc.png);
}
.tablesorter button {
    background: white;
    color: #008CBA;
    position: static;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}
.tablesorter button:active, .tablesorter button:hover, .tablesorter button:focus {
    color: white;
    background-color: #007095;
    outline: none;
    transition: background-color, color 200ms;
}
