# ts3-ldv.service: systemd script for TS3-LogDataViewer.
# Author: Drumsticks
# GitHub: https://github.com/Drumsticks1/TS3-LogDataViewer

[Unit]
Description=TS3-LogDataViewer
After=network.target

[Service]
# Modify the following settings according to your installation.

# Path of the nodejs directory inside the ts3-ldv-dir.
WorkingDirectory=/var/www/www.your-domain.com/ts3-ldv-dir/nodejs

# The user running the nodejs ts3-ldv app, requires specific permissions (see INSTALL.md).
User=ts3-ldv

# The group of the user that runs the teamspeak3 server.
# Alternatively: Group that has read access to the the teamspeak3 log directory and the contained logs.
Group=teamspeak

Type=simple
ExecStart=/usr/bin/node app.js
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
