# ts3-ldv.service: systemd script for TS3-LogDataViewer.
# Author: Drumsticks
# GitHub: https://github.com/Drumsticks1/TS3-LogDataViewer

[Unit]
Description=TS3-LogDataViewer
After=network.target

[Service]
# Modify the following settings according to your installation.

# nodejs directory inside the ts3-ldv package, the part after /teamspeak/ must remain unmodified.
WorkingDirectory=/var/www/www.your-domain.com/teamspeak/node_modules/ts3-ldv/nodejs

# Create an user for ts3-ldv - grant only the required permissions to prevent security issues.
User=ts3-ldv

# Set as the group which runs the teamspeak3 server or as a new group that has access to
# the log directory in the teamspeak directory and the log files inside it.
Group=teamspeak

Type=simple
ExecStart=/usr/bin/node app.js
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
